### Go template
# Binaries for programs and plugins
/example
*.exe
*.exe~
*.dll
*.so
*.dylib
/coverage.out

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VSCode config
.vscode

# Idea files
*.iml
.idea/
